*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.route {
    display: none;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

@font-face {
    font-family: 'Score';
    src: url('../fonts/SuperMario256.ttf') format('truetype');
}

.score-jump {
    font-family: 'Score', 'Times', serif;
    font-weight: normal;
    margin-left: 38%;
    position: absolute;
    margin-top: 9%;
    font-size: 100px;
    animation: flutuation-button 3s infinite alternate;
    color: green;
}

.score-min {
    padding: 3px;
    margin-left: 0 !important;
    margin-top: 0 !important;
    right: 3rem !important;
    top: 3rem !important;
    font-size: 30px;
    animation: none !important;
    color: red;

}

.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.bottom-div{
    background: linear-gradient(#87CEEB, #986cff);
    height: 470px;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.5s infinite linear;
}

.restart-button {
    position: absolute;
    top: 65vh;
    left: 35%;
    width: 25%;
    cursor: pointer;
}

.mario{
    width: 150px;  
    position: absolute;
    bottom: 0;
}

.jump{
    animation: jump 500ms ease-out;
}

.clouds {
    width: 550px;
    position: absolute;
    animation: clouds-animation 20s infinite linear;
}

.gameover-logo {
    width: 80%;
    height: 500px;
    position: absolute;
    margin-left: 10%;
    animation: flutuation-button 1s infinite alternate;
    z-index: 4;
}

.restart-button:hover {
    animation: flutuation-button 1s infinite alternate;
}


@keyframes flutuation-button {

    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}


@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    } 
}


@keyframes clouds-animation {
    from {
        right: -550px;
    }

    to {
        right: 100%;
    }
}

@keyframes flutuation-game-over {

    0% {
        transform: translateY(0px);
    }
    
    100% {
        transform: translateY(-10px);
    }
} 